@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:wght@600&display=swap');
/* Importando algumas fontes */

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Hammersmith One', sans-serif;
    overflow-x: hidden;
}

header{
    position: sticky;
    top: 0;
    z-index: 999;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5em;
}

header nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FF9090;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 23px;
    color: white;
}

nav div{
    display: flex;
    align-items: center;
    margin: 35px 0;
}

nav img{
    width: 20px;
}

.explication-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-container, .calculation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#introduction-title{
    font-size: 3.5em;
}

.subtitles{
    font-size: 3em;
}

.paragraphy-info{
    width: 70vw;
    font-size: 1.3em;
    text-align: justify;
    margin-top: 1.7em;
}

.red-bkg{
    background-color: #FF9090;
    padding: 4em 100vw;
    color: white;
}

.red-bkg .subtitles{
    color:black;
}

.white-bkg{
    margin: 6em 0 6em 0;
}

.inputs-container{
    display: flex;
    align-items: center;
    margin-top: 6em;
}

.inputs-subcontainer{
    margin-right: 2em;
}

.inputs-container label{
    font-size: 1.3em;
}

.inputs-container span{
    position: absolute;
    font-size: 1em;
    margin-left: 1em;
    color: #6f6f6f;
}

.inputs-container input{
    padding: .5em 0 .5em .5em;
    width: 16em;
    border-radius: 15px;
    border: 1px solid #6f6f6f;
    font-size: 1em;
    color: #6f6f6f;
}

#valorPresente-input{
    padding: .5em 0 .5em 2.2em;
    width: 13em;
}

.input-contents{
    display: flex;
    align-items: center;
}